<IfModule mod_rewrite.c>
  RewriteEngine On
  # Projeto hospedado na raiz public_html
  RewriteBase /

  # Ignora a regra para a pasta api (onde ficam os arquivos PHP)
  RewriteCond %{REQUEST_URI} ^/api/
  RewriteRule ^ - [L]

  # Redireciona todas as rotas do React Tracker para index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>
